<body>
	<% if @videos.empty? %>
	<h1 style='text-align: center'> It seems you haven't added any videos yet </h1>
	<h1 style='text-align: center'> Click <a href=<%=new_favorite_path%>>here </a> to add a favorite channel </h1>
	<% end %>
	<% if user_signed_in? %>
	<ul style ="padding:0; list-style-type: none;">
		<% @videos.each_slice(5) do |v| %>
		<div class ='row'>
			<%v.each do |yt_vid| %>
			<% yt_obj = Yt::Video.new id: yt_vid.youtube_id %>
			<div class='col'>
				<div class='card'>
					<div class='card-body embed-responsive-16by9 embed-responsive'>
						<%= yt_obj.embed_html.html_safe %>
					</div>
				</div>
				<div class='card'>
					<div class='card-body'>
						<%= simple_format(yt_obj.description).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<%end%>	
	</ul>
	<%end%>
<div class='row justify-content-center'>
	<%= will_paginate @videos%>
</div>
<% console %>
</body>
