
<%Yt.configure do |config|%>
  <%config.log_level = :debug%>
<%end%>
<body>
	<% if user_signed_in? %>
	<% @fav_channels.each do |ch| %>
	<p><%= ch.name %></p> : <ul>
		<p> Videos :

			<ul style ="padding:0; list-style-type: none;">
				<% @videos.where(channel_id: ch.id).each do |vid| %>
				<li>
					<% Yt.configuration.api_key = 'AIzaSyBHuSdJkeHGWxnCFqqhNrzguLmeXy6UkWg'%>
					<%= (Yt::Video.new id:(vid.youtube_id)).embed_html.html_safe%>
				</li>
				<%end%>	
			</ul>
		</p>
		<%end%>
	</ul>
	<%end%>
	<div>
		<%= will_paginate @videos%>
	</div>
</body>


