
<% Yt.configuration.api_key = 'AIzaSyBHuSdJkeHGWxnCFqqhNrzguLmeXy6UkWg'%>
<body>
	<% if user_signed_in? %>
	<% @favChannels.each do |ch| %>
	<p><%= ch.name %></p> : <ul>
		<p> Videos :

			<ul style ="padding:0; list-style-type: none;">
				<% @videos.where(channel_id: ch.id).each do |vid| %>
				<li >
					<%= (Yt::Video.new id:(vid.youtube_id)).embed_html.html_safe%>
					</li>

					<%end%>	
				</ul>
			</p>
			<%end%>
		</ul>
		<%end%>
		<div id="infinite-scrolling">
			<%= will_paginate @videos%>
		</div>
	</body>


