
<%Yt.configure do |config|%>
  <%config.log_level = :debug%>
<%end%>
<body>
	<% if user_signed_in? %>
			<ul style ="padding:0; list-style-type: none;">
				<% @videos.each_slice(5) do |v| %>
					<div class ='row'>
						<%v.each do |yt_vid| %>
						<% yt_obj = Yt::Video.new id: yt_vid.youtube_id %>
							<div class='col'>
								<div class='card'>
									<div class='card-body embed-responsive-16by9 embed-responsive'>
										<%= yt_obj.embed_html.html_safe %>
									</div>
								</div>
								<div class='card'>
									<div class='card-body'>
										<%= yt_obj.description %>
									</div>
								</div>
							</div>
							<% end %>
					</div>
				<%end%>	
			</ul>
		<%end%>
	<div>
		<%= will_paginate @videos%>
	</div>
</body>
