<div class='owl-carousel'>
	<div class='embed-responsive embed-responsive-16by9'>
		<%= @videos[0].embed_html.html_safe %>
	</div>
	<div class='embed-responsive embed-responsive-16by9'>
		<%= @videos[1].embed_html.html_safe %>
	</div>
	<div class='embed-responsive embed-responsive-16by9'>
		<%= @videos[2].embed_html.html_safe %>
	</div>
</div>