<% @videos.each_slice(3) do |yt| %>
<div class='row'>
	<% yt.each do |vid| %>
	<div class='col embed-responsive embed-responsive-16by9'>
		<%= vid.embed_html.html_safe %>
	</div>
	<%end%>
</div>
<%end%>
<%console%>